.dashboard-container{

  display:flex;

  min-height:100vh;

  background:#F8FAFC;
}

.dashboard-content{

  flex:1;
}

.dashboard-body{

  padding:30px;
}

@media(max-width:992px){

  .dashboard-container{

    flex-direction:column;
  }
}