.dashboard-card{

  background:white;

  padding:25px;

  border-radius:20px;

  box-shadow:
  0 10px 20px rgba(
    0,
    0,
    0,
    0.06
  );

  transition:0.3s;
}

.dashboard-card:hover{

  transform:
  translateY(-5px);
}

.dashboard-icon{

  font-size:2rem;
}

.dashboard-card h2{

  margin-top:10px;

  font-weight:700;
}