.reset-page{

    min-height:100vh;

    display:flex;

    justify-content:center;
    align-items:center;

    background:
    linear-gradient(
      135deg,
      #0F172A,
      #2563EB
    );
}

.reset-card{

    width:500px;

    background:white;

    padding:40px;

    border-radius:20px;
}