.forgot-page{

    min-height:100vh;

    display:flex;

    justify-content:center;
    align-items:center;

    background:
    linear-gradient(
      135deg,
      #2563EB,
      #14B8A6
    );
}

.forgot-card{

    width:450px;

    background:white;

    padding:40px;

    border-radius:20px;

    text-align:center;
}

.back-link{

    display:block;

    margin-top:20px;
}