.gallery-main-image{

  width:100%;
  height:500px;

  object-fit:cover;

  border-radius:20px;
}

.gallery-thumbnails{

  display:flex;

  gap:10px;

  margin-top:15px;
}

.gallery-thumb{

  width:100px;
  height:80px;

  object-fit:cover;

  border-radius:10px;

  cursor:pointer;

  border:3px solid transparent;
}

.gallery-thumb.active{

  border-color:#2563EB;
}